body{
	font-family: Roboto, Calibri, Verdana, sans-serif;
}


.grid_square{
	width:35px;
	height:35px;
	border:1px solid black;
	display:inline-block;
	white-space:nowrap;
}

.grid_square.obstacle{
	background-color:gray;
}