body {
  font-family: Roboto, Calibri, Verdana, sans-serif; }

.grid_square {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  display: inline-block;
  white-space: nowrap;
  box-sizing: border-box; }

.grid_square.obstacle {
  background-color: gray; }

.grid_container {
  overflow: hidden;
  white-space: nowrap; }

.grid_row {
  position: relative; }
