{{grid.offset}}
<div style='width:{{grid.width*grid.square_size}}px' class='grid_container'>
	<div style='-webkit-transition: all {{grid.animation_speed}}ms; -webkit-transform:translateX({{(-1)*grid.square_size*grid.temp_offset.x}}px) translateY({{grid.square_size*grid.temp_offset.y}}px)'>
		<div ng-repeat='row in grid.squares' style=''>
			<div ng-repeat='square in row' class='grid_square' ng-show='square.x!=undefined' ng-class='{obstacle: square.tile.isObstacle}'>
				{{square.tile.getContent()}}
			</div>
			<div ng-repeat='square in grid.move_buffer.right[$index]' class='grid_square' ng-show='square.x!=undefined' ng-class='{obstacle: square.tile.isObstacle}' style="position: relative; left: -3.5px;">
				{{square.tile.getContent()}}
			</div>
		</div>
	</div>
</div>